<article class="review">
  <div class="review-score 
  <% if(reviewData.userScore <= 5) { %>
    <%= "low" %>
  <% } else if (reviewData.userScore <= 7.5) { %>
    <%= "med" %>
  <% } else { %>
    <%= "high" %>
  <% } %>
    ">
    <%= reviewData.userScore %>
  </div>

  <div class="review-content">
    <h2 class="review-headline">
      <%= reviewData.headline %>
    </h2>
    <p class="review-author">
      <%= `By ${reviewData.authorId.username}` %>
    </p>
    <p class="review-text">
      <%= reviewData.textContent %>
    </p>
  </div>
</article>