<article class="review-card">
  <div class="review-card__score 
  <% if(reviewData.userScore <= 5) { %>
    <%= "low" %>
  <% } else if (reviewData.userScore <= 7.5) { %>
    <%= "med" %>
  <% } else { %>
    <%= "high" %>
  <% } %>
    ">
    <%= reviewData.userScore %>
  </div>

  <div class="review-card__content">
    <h2 class="review-card__headline text text--med text--dark">
      <%= reviewData.headline %>
    </h2>
    <p class="review-card__author text text--small text--light">
      <%= `By ${reviewData.authorId.username}` %>
    </p>
    <p class="review-card__text text">
      <%= reviewData.textContent %>
    </p>
  </div>
</article>