<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Best Books</title>

  <link rel="stylesheet" href="/styles.css">

  <!-- Import font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <%- include("partials/navbar.ejs") %>

  <main class="section">
    <article class="card card--bg">
      <figure class="card__image--big">
        <img src="<%= bookData.volumeInfo.imageLinks.thumbnail%>" alt="book cover">
      </figure>
      <div class="card__info--big">
        <h2 class="text text--med text--white"><%= bookData.volumeInfo.title %></h2>
        <div class="author-container">
          <% for(let i=0; i < bookData.volumeInfo.authors.length; i++) { %>
            <span class="text text--small text--accent">
              <%= bookData.volumeInfo.authors[i] %>
              <% if(i < bookData.volumeInfo.authors.length -1) { %>
                <%= ',' %>
              <% } %>
            </span>
          <% } %>
        </div>
        <p class="text text--small text--white"><%= bookData.volumeInfo.description %></p>
      </div>
    </article>
    
    <section class="review-container">
      <div class="section__header">
        <% if(reviews.length) { %>
          <h2 class="section__title">Reviews</h2>
        <% } else { %>
          <h2 class="section__title">No Reviews Yet</h2>
        <% } %>
      </div>
      <% if(reviews.length) { %>
        <% for(let i = 0; i < reviews.length; i++) { %>
          <%- include("partials/book_review.ejs", { reviewData: reviews[i]}) %>
        <% } %>
      <% } %>
    </section>
  </main>

  <script type="module" src="/navbar.js"></script>
  <script type="module" src="/book_info.js"></script>
</body>